{{! 2016-12-09
Раньше использовался Ember.ArrayController
Однако сегодня заметил, что такой синтаксис уже не работает со свежей версией ядра,
и в самом ядре изменение Ember.ArrayController на Ember.Controller
произошло 2016-10-21 в коммите https://github.com/discourse/discourse/commit/bf9153
https://github.com/discourse/discourse/compare/2a61cc...bf9153

Документация Ember.js: http://emberjs.com/deprecations/v1.x/#toc_arraycontroller
«Just like Ember.ObjectController, Ember.ArrayController will be removed in Ember 2.0
for the same reasons mentioned in 1.11's ObjectController deprecation.»

Изменения выполнил по образцу со админстративным списком резервных копий.

Файл 1 (контроллер): app/assets/javascripts/admin/controllers/admin-backups-index.js.es6
До: https://github.com/discourse/discourse/blob/2a61cc/app/assets/javascripts/admin/controllers/admin-backups-index.js.es6
После: https://github.com/discourse/discourse/blob/bf9153/app/assets/javascripts/admin/controllers/admin-backups-index.js.es6
Сравнение: https://github.com/discourse/discourse/compare/2a61cc...bf9153#diff-6fe0d75b17ce6f090dbdf2f374457b5a

Файл 2 (шаблон *.hbs): app/assets/javascripts/admin/templates/backups_index.hbs
До: https://github.com/discourse/discourse/blob/2a61cc/app/assets/javascripts/admin/templates/backups_index.hbs
После: https://github.com/discourse/discourse/blob/bf9153/app/assets/javascripts/admin/templates/backups_index.hbs
Сравнение: https://github.com/discourse/discourse/compare/2a61cc...bf9153#diff-dbe96be2075fe79f299e5f0c9da57de5
}}
<h1>{{i18n 'paid_membership.frontend.title'}}</h1>
{{#if textAbove}}
	<div class='text-above'>{{{textAbove}}}</div>
{{/if}}
{{! 2015-07-06
 	Этот контейнер используется исключительно для реализации решения отсюда:
    http://stackoverflow.com/a/25191956
}}
<div class='table-outer'>
	<table class='plans'>
		<tr>
{{! 2016-12-09
Раньше использовал здесь синтаксис #each plan in model,
однако теперь он не работает, и даже в документации Handlebars больше не упоминается:
http://handlebarsjs.com/builtin_helpers.html#iteration
Короткий синтаксис с this вместо |plan| тоже не работает.
}}
			{{#each model as |plan|}}
				{{frontend-membership-plan plan=plan tagName='td' class='plan'}}
			{{/each}}
		</tr>
		<tr>
			{{#each model as |plan|}}
				{{frontend-membership-plan-2 plan=plan tagName='td' class='plan'}}
			{{/each}}
		</tr>
		<tr>
			{{#each model as |plan|}}
				{{frontend-membership-plan-3 plan=plan tagName='td' class='plan'}}
			{{/each}}
		</tr>
	</table>
</div>