{{#if items}}
	<ul class='items plans'>
		{{#each item in items}}
			<li class='item plan'>
				<div class='field'>
					{{d-button
						action='removeItem'
						actionParam=item
						icon='times'
						class='btn-small no-text df-simple'
						title='paid_membership.plan.delete'
					}}
					<div>
						<h4 class='plan-title'>{{input value=item.title autoresize=true}}</h4>
						<span class='plan-bbcode'
						>{{input type='text' value=item.id autoresize=true}}</span>
					</div>
				</div>
				<div class='field'>
					<span class='label'>Restriction Type:</span>
					{{x-select
						value=item.restrictionType
						content=restrictionTypeOptions
						optionValuePath='content.value'
						optionLabelPath='content.label'
						class='restrictionType'
					}}
				</div>
				<div class='field'>
					<div class='label'>{{i18n 'paid_membership.plan.groups_allowed'}}</div>
					{{df-user-groups type='allowed' item=item selected=item.allowedGroupIds}}
				</div>
				<div class='field'>
					<div class='label'>{{i18n 'paid_membership.plan.groups_granted'}}</div>
					{{df-user-groups type='granted' item=item selected=item.grantedGroupIds}}
				</div>
				<div class='field'>
					{{admin-membership-price-tiers plan=item items=item.priceTiers}}
				</div>
				<div class='field'>
					{{df-editor value=item.description}}
				</div>
				<table class='field palette'>
					<caption>Palette</caption>
					<tr>
						<td class='label'>Primary:</td>
						<td class='value'>
							{{color-input
								hexValue=item.color.background
								brightnessValue=120
								valid=true
							}}
						</td>
						<td class='label'>Shadow X:</td>
						<td class='value'>
							{{color-input
								hexValue=item.color.boxShadowX
								brightnessValue=120
								valid=true
							}}
						</td>
						<td class='label'>Shadow Y:</td>
						<td class='value'>
							{{color-input
								hexValue=item.color.boxShadowY
								brightnessValue=120
								valid=true
							}}
						</td>
						<td class='label'>Shadow Text:</td>
						<td class='value'>
							{{color-input
								hexValue=item.color.textShadow
								brightnessValue=120
								valid=true
							}}
						</td>
					</tr>
					<tr>
						<td class='label'>Hover Bg:</td>
						<td class='value'>
							{{color-input
								hexValue=item.color.hoverBackground
								brightnessValue=120
								valid=true
							}}
						</td>
						<td class='label'>Hover Shadow X:</td>
						<td class='value'>
							{{color-input
								hexValue=item.color.hoverBoxShadowX
								brightnessValue=120
								valid=true
							}}
						</td>
						<td class='label'>Hover Shadow Y:</td>
						<td class='value'>
							{{color-input
								hexValue=item.color.hoverBoxShadowY
								brightnessValue=120
								valid=true
							}}
						</td>
						<td class='label'>Hover Shadow Text:</td>
						<td class='value'>
							{{color-input
								hexValue=item.color.hoverTextShadow
								brightnessValue=120
								valid=true
							}}
						</td>
					</tr>
				</table>
			</li>
		{{/each}}
	</ul>
	<h4 class='add-new-plan'>{{i18n 'paid_membership.plan.heading_new'}}:</h4>
{{/if}}
<div class='item plan item-new'>
	<div class='field'>
		{{d-button
			action='addItem'
			icon='plus'
			class='btn-primary btn-small no-text'
			disabled=inputInvalid
			title='paid_membership.plan.add'
		}}
		<div>
			<h4 class='plan-title'>{{input value=title autoresize=true}}</h4>
			<span class='plan-bbcode'>{{input value=newId autoresize=true}}</span>
		</div>
	</div>
	<div class='field'>
		<span class='label'>{{i18n 'paid_membership.plan.restriction_type_heading'}}:</span>
		{{x-select
			value=restrictionType
			content=restrictionTypeOptions
			optionValuePath='content.value'
			optionLabelPath='content.label'
			class='restrictionType'
		}}
	</div>
	<div class='field color'>
		<div class='label'>{{i18n 'paid_membership.plan.color'}}:</div>
		{{color-input hexValue=color brightnessValue=120 valid=true}}
	</div>
	{{!--
		2015-06-29
		Обратите внимание, что,
		хотя список групп нового пустого элемента предполагается пустым,
		мы всё равно устанавливаем соответствие selected=allowedGroupIds,
		чтобы установить связь между свойством allowedGroupIds компонента admin-membership-plans
		и свойством selected компонента df-user-groups.
		Такая связь позволяет нам очищать список групп
		после добавления нового элемента в список элементов
		(ведь тогда форму для нового элемента надо очистить, привести в начальное состояние).
	--}}
	<div class='field'>
		<div class='label'>{{i18n 'paid_membership.plan.groups_allowed'}}</div>
		{{df-user-groups type='allowed' selected=allowedGroupIds}}
	</div>
	<div class='field'>
		<div class='label'>{{i18n 'paid_membership.plan.groups_granted'}}</div>
		{{df-user-groups type='granted' selected=grantedGroupIds}}
	</div>
	<div class='field'>
		{{admin-membership-price-tiers items=priceTiers}}
	</div>
	<div class='field'>
		{{df-editor value=description}}
	</div>
	<table class='field palette'>
		<caption>Palette</caption>
		<tr>
			<td class='label'>Primary:</td>
			<td class='value'>
				{{color-input
					hexValue=color.background
					brightnessValue=120
					valid=true
				}}
			</td>
			<td class='label'>Shadow X:</td>
			<td class='value'>
				{{color-input
					hexValue=color.boxShadowX
					brightnessValue=120
					valid=true
				}}
			</td>
			<td class='label'>Shadow Y:</td>
			<td class='value'>
				{{color-input
					hexValue=color.boxShadowY
					brightnessValue=120
					valid=true
				}}
			</td>
			<td class='label'>Shadow Text:</td>
			<td class='value'>
				{{color-input
					hexValue=color.textShadow
					brightnessValue=120
					valid=true
				}}
			</td>
		</tr>
		<tr>
			<td class='label'>Hover Bg:</td>
			<td class='value'>
				{{color-input
					hexValue=color.hoverBackground
					brightnessValue=120
					valid=true
				}}
			</td>
			<td class='label'>Hover Shadow X:</td>
			<td class='value'>
				{{color-input
					hexValue=color.hoverBoxShadowX
					brightnessValue=120
					valid=true
				}}
			</td>
			<td class='label'>Hover Shadow Y:</td>
			<td class='value'>
				{{color-input
					hexValue=color.hoverBoxShadowY
					brightnessValue=120
					valid=true
				}}
			</td>
			<td class='label'>Hover Shadow Text:</td>
			<td class='value'>
				{{color-input
					hexValue=color.hoverTextShadow
					brightnessValue=120
					valid=true
				}}
			</td>
		</tr>
	</table>
</div>

