{{#if notLoggedIn}}
	<div class='need-login'>
		{{i18n 'paid_membership.frontend.login_or_register.before'}}
		<a {{action 'login'}}>{{i18n 'paid_membership.frontend.login_or_register.log_in'}}</a>
		{{i18n 'paid_membership.frontend.login_or_register.or'}}
		<a {{action 'register'}}>{{i18n 'paid_membership.frontend.login_or_register.register'}}</a>
		{{i18n 'paid_membership.frontend.login_or_register.after'}}
	</div>
{{/if}}
<a class='sign-up {{if notLoggedIn 'disabled'}}' {{action 'buy'}}
>{{i18n 'paid_membership.frontend.sign_up'}}</a>