{{!--
	2015-06-30
	Очень хорошая статья о назначении price tiers:
	http://summitevergreen.com/why-tiered-pricing-is-the-only-way-to-price-your-product/
--}}
{{#if items}}
	<div class='items'>
		{{#each item in items}}
			<div class='item'>
				<div class='field'>
					{{d-button
						action='removeItem'
						actionParam=item
						icon='times'
						class='btn-small no-text'
						title='admin.site_settings.paid_membership.plan.delete'
					}}
					<div class='label'>Price:</div>
					<div class='input'>{{input value=price}}</div>
				</div>
				<div class='field'>
					<div class='label'>Period:</div>
					<div class='input'>{{input value=item.period}}</div>
				</div>
				<div class='field'>
					<div class='label'>Period Units:</div>
					<div class='input'>{{input value=item.periodUnits}}</div>
				</div>
			</div>
		{{/each}}
	</div>
{{/if}}
<div class='item item-new'>
	<div class='field'>
		{{d-button
			action='addItem'
			icon='plus'
			class='btn-primary btn-small no-text'
			disabled=inputInvalid
			title='admin.site_settings.paid_membership.plan.add'
		}}
		<div class='label'>Price:</div>
		<div class='input'>{{input value=price}}</div>
	</div>
	<div class='field'>
		<div class='label'>Period:</div>
		<div class='input'>{{input value=period}}</div>
	</div>
	<div class='field'>
		<div class='label'>Period Units:</div>
		<div class='input'>{{input value=periodUnits}}</div>
	</div>
</div>
