{{#if items}}
	<div class='items'>
		{{#each item in items}}
			<div class='item'>
				<div class='field'>
					{{d-button
						action='removeItem'
						actionParam=item
						icon='times'
						class='btn-small no-text'
						title='admin.site_settings.paid_membership.plan.delete'
					}}
					<div class='label'></div>
					<div class='input'>
						[{{input type='text' value=item.id autoresize=true}}]
					</div>
				</div>
				<div class='field'>
					<div class='label'>Users of which groups can order the plan:</div>
					<div class='input'>
						{{df-user-groups type='allowed' item=item selected=item.allowedGroupIds}}
					</div>
				</div>
				<div class='field'>
					<div class='label'>Which groups membership / trust levels the buyers will be granted?</div>
					<div class='input'>
						{{df-user-groups  type='granted' item=item selected=item.grantedGroupIds}}
					</div>
				</div>
				<div class='field'>
					<div class='label'>Plan description:</div>
					<div class='input'>
						{{textarea value=item.description autoresize=true rows=2 max-rows=5}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>
{{/if}}
<div class='item item-new'>
	<div class='field'>
		{{d-button
			action='addItem'
			icon='plus'
			class='btn-primary btn-small no-text'
			disabled=inputInvalid
			title='admin.site_settings.paid_membership.plan.add'
		}}
		<div class='label'></div>
		<div class='input'>
			[{{input value=newId autoresize=true}}]
		</div>
	</div>
	{{!--
		2015-06-29
		Обратите внимание, что,
		хотя список групп нового пустого элемента предполагается пустым,
		мы всё равно устанавливаем соответствие selected=allowedGroupIds,
		чтобы установить связь между свойством allowedGroupIds компонента paid-membership-plans
		и свойством selected компонента df-user-groups.
		Такая связь позволяет нам очищать список групп
		после добавления нового элемента в список элементов
		(ведь тогда форму для нового элемента надо очистить, привести в начальное состояние).
	--}}
	<div class='field'>
		<div class='label'>Users of which groups can order the plan:</div>
		<div class='input'>
			{{df-user-groups type='allowed' selected=allowedGroupIds}}
		</div>
	</div>
	<div class='field'>
		<div class='label'>Which groups membership / trust levels the buyers will be granted?</div>
		<div class='input'>
			{{df-user-groups type='granted' selected=grantedGroupIds}}
		</div>
	</div>
	<div class='field'>
		<div class='label'>Plan description:</div>
		<div class='input'>
			{{textarea value=description autoresize=true rows=2 max-rows=5}}
		</div>
	</div>
</div>
