{{#if items}}
	<div class='items'>
		{{#each item in items}}
			<div class='item'>
				<div class='row-1'>
					[{{input type='text' value=item.id autoresize=true}}]
					{{d-button
						action='removeItem'
						actionParam=item
						icon='times'
						class='btn-small no-text'
						title='admin.site_settings.paid_membership.plan.delete'
					}}
				</div>
				{{df-user-groups item=item selected=item.allowedGroupIds}}
				{{textarea value=item.description autoresize=true rows=2 max-rows=5}}
			</div>
		{{/each}}
	</div>
{{/if}}
<div class='item item-new'>
	<div class='row-1'>
		[{{input value=newId autoresize=true}}]
		{{d-button
			action='addItem'
			icon='plus'
			class='btn-primary btn-small no-text'
			disabled=inputInvalid
			title='admin.site_settings.paid_membership.plan.add'
		}}
	</div>
	<!--
		2015-06-29
		Обратите внимание, что,
		хотя список групп нового пустого элемента предполагается пустым,
		мы всё равно устанавливаем соответствие selected=allowedGroupIds,
		чтобы установить связь между свойством allowedGroupIds компонента paid-membership-plans
		и свойством selected компонента df-user-groups.
		Такая связь позволяет нам очищать список групп
		после добавления нового элемента в список элементов
		(ведь тогда форму для нового элемента надо очистить, привести в начальное состояние).
	-->
	{{df-user-groups selected=allowedGroupIds}}
	{{textarea value=description autoresize=true rows=2 max-rows=5}}
</div>
